# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs
*.log
logs/*

# Runtime data
pids
*.pid
*.seed

# Coverage directory
coverage
*.lcov

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp
